#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#clubLogo {
	width: 15%;
	position: relative;
	left: 15px;
	top: 25px;
}

#kidsBackground {
	background-image: url('../pictures/players.jpg');
	background-size: cover;
}

.jumbotron {
	height: 230px;
}

.navbar-default {
	margin-top: 5px;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

#topHeader {
	font-weight: bolder;
	position: relative;
	left: 25%;
	top: -20px;
}

#mainContent {
	width: 750px;
	margin: 0 auto;
}

#pageContainer {
	width: 1024px;
	margin: 0 auto;
}

#leftPanel {
	float: left;
	background-color: red;
	width: 130px;
}

#rightPanel {
	float: right;
	background-color: blue;
}



/********************Media Queries Only********************/



@media only screen and (max-width: 700px) {

   #topHeader { 
   	font-size: 4.5vw;
   	font-weight: bolder;
   }

}

@media only screen and (min-width: 701px) {

   #topHeader { 
   	font-size: 3vw;
   	font-weight: bolder;
   	position: relative;
	left: 25%;
	top: -70px;
   }

}

@media only screen and (min-width: 1015) {
	/*NavBar height*/
}