#clubLogo {
	width: 15%;
	position: relative;
	left: 15px;
	top: 25px;
}

#kidsBackground {
	background-image: url('../pictures/players.jpg');
	background-size: cover;
}

.jumbotron {
	height: 230px;
}

.navbar-default {
	margin-top: 5px;
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

#topHeader {
	font-weight: bolder;
	position: relative;
	left: 25%;
	top: -20px;
}






/********************Media Queries Only********************/



@media only screen and (max-width: 700px) {

   #topHeader { 
   	font-size: 4.5vw;
   	font-weight: bolder;
   }

}

@media only screen and (min-width: 701px) {

   #topHeader { 
   	font-size: 3vw;
   	font-weight: bolder;
   	position: relative;
	left: 25%;
	top: -70px;
   }

}